<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Coffee Club</title>
</head>
<body>
  <header class="site-header">
    <div class="container">
      <nav class="nav-bar">
        <div class="nav-left">
          <a href="https://www.instagram.com/therealsocialcoffeeclub/" class="brand-link">
            <div class="brand">
              <div class="logo">
                <img src="../assets/images/logo.png" alt="Coffee Bean Co. Logo">
              </div>
            </div>
          </a>

          <ul class="nav-links">
            <li>
              <a href="../index.html">
                <img src="../assets/icons/ow-home.png" alt="" class="nav-icon">
                HOME
              </a>
            </li>
            <li>
              <a href="../pages/shop.html">
                <img src="../assets/icons/ow-shop.png" alt="" class="nav-icon">
                SHOP
              </a>
            </li>
            <li>
              <a href="../pages/about.html">
                <img src="../assets/icons/ow-magnify.png" alt="" class="nav-icon">
                ABOUT
              </a>
            </li>
          </ul>
        </div>
        
        <div class="right-section">
          <button class="standard-button">CHECKOUT</button>
        </div>
        
      </nav>
    </div>
  </header>
</body>
</html>
