<header class="site-header">
  <div class="container">
    <nav class="nav-bar">
      <div class="nav-left">
        <a href="https://www.instagram.com/therealsocialcoffeeclub/" class="brand-link">
          <div class="brand">
            <div class="logo">
              <img src="/CoffeeClub/assets/images/logo.png" alt="Coffee Bean Co. Logo">
            </div>
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a href="/CoffeeClub/">
              <img src="/CoffeeClub/assets/icons/ow-home.png" alt="" class="nav-icon">
              HOME
            </a>
          </li>
          <li>
            <a href="/CoffeeClub/pages/shop.html">
              <img src="/CoffeeClub/assets/icons/ow-shop.png" alt="" class="nav-icon">
              SHOP
            </a>
          </li>
          <li>
            <a href="/CoffeeClub/pages/about.html">
              <img src="/CoffeeClub/assets/icons/ow-magnify.png" alt="" class="nav-icon">
              ABOUT
            </a>
          </li>
        </ul>
      </div>
      <div class="right-section">
        <a href="/CoffeeClub/pages/bag.html">
          <img src="/CoffeeClub/assets/icons/bag.png" alt="shopping bag">
        </a>
      </div>
    </nav>
  </div>
</header>
